<input #inputLoad style="display: none;" type="file" multiple accept=".mod,.s3m,.xm,.it,.mptm,.stm,.nst,.m15,.stk,.wow,.ult,.669,.mtm,.med,.far,.mdl,.ams,.dsm,.amf,.okt,.dmf,.ptm,.psm,.mt2,.dbm,.digi,.imf,.j2b,.gdm,.umx,.mo3,.xpk,.ppm,.mmcmp">

<div class="playlist-wrapper">

  <div class="playlist-container">
    <nz-table #basicTable
              [nzData]="listOfData"
              nzSize="small"
              [nzHideOnSinglePage]="true"
              >
      <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; index as i" (click)="selectSong($event, i)">
        <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.address}}</td>
        <td>Format!!</td>
      </tr>
      </tbody>
    </nz-table>

  </div>

  <div class="playback-control-icons">
    <div>
      <button nz-button (click)="add($event)">
        <i nz-icon nzType="folder-open"></i>
        Add
      </button>
    </div>

    <div>
      <button nz-button (click)="loadAndPlay($event)">
        <i nz-icon nzType="folder-open"></i>
        Load (temp)
      </button>
    </div>

    <div>
      <button nz-button (click)="play($event)"
              [disabled]="!(state$ | async).loaded"
              nzType="primary">
        <i nz-icon [nzType]="(state$ | async).playing ? 'pause' : 'caret-right'"></i>
        {{
          (state$ | async).playing ? 'Pause' :
            (state$ | async).paused ? 'Resume' : 'Play'
        }}
      </button>

      <button nz-button (click)="stop($event)"
              [disabled]="!(state$ | async).loaded"
              nzDanger>
        Stop
      </button>
    </div>
  </div>
</div>
